body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 250px;
    margin: 0;
}
.links {
    margin-left: auto;
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: larger;
    color: #e5e7eb;
    padding-left: auto;
}
.first {
    background-color: #1f2937;
    margin: 0;
    display: flex;
    padding: 100px 250px;
    gap: 40px;
}
h1 {
    margin: 0;
    font-size: 48px;
    font-weight: extra-bold;
}

#main-image {
    width:  30pc;
}
#top-button {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: large;
    font-weight: bold;
}
#top-h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: extra-bold;
}

#top-p {
    margin: 0 0;
    padding-top: 0;
    padding-bottom: 10px;
    color: #e5e7eb;
    font-size: 18px;

}
.second {
    padding: 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.random {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 30px 0;
}
.card-collection {
    display: flex;
    justify-content: space-evenly;
}
.card {
    text-align: center;
    padding-bottom: 100px;
}
img {
    width: 170px;
}
.third {
    padding: 100px 250px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 100;
    font-style: light-italic;
    color: #1F2937;
}
#quote {
    color: lightslategrey;
    font-weight: 100;
    margin-bottom: 15px;
}
#thor {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
.fourth {
    padding: 100px 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.sign-up {
    background-color: #3882F6;
    color: white;
    border-color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-weight: 900;
    font-size: medium;

}
.box {
    background-color: #3882F6;
    width: 900px;
    height: 50px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.text {
    align-content:  flex-start;
}
#call {
    font-size: 24px;
    margin-bottom: 0;
}
#call-p {
    margin-top: 0px;
}
.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 80px;
}
